@font-face
{
    font-family: 'Roboto Slab';
    src: url('../../fonts/Roboto_Slab/Bold/Bold.woff2') format('woff2'),
         url('../../fonts/Roboto_Slab/Bold/Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
