@font-face
{
    font-family: 'Roboto Slab';
    src: url('RobotoSlab-Light.eot');
    src: url('RobotoSlab-Light.woff2') format('woff2'),
         url('RobotoSlab-Light.woff') format('woff'),
         url('RobotoSlab-Light.ttf') format('truetype'),
         url('RobotoSlab-Light.svg#RobotoSlab-Light') format('svg'),
         url('RobotoSlab-Light.eot?#iefix') format('embedded-opentype');
    font-weight: 300;
    font-style: normal;
}
