@import "mixins";

@import "../css/Roboto/Thin.css";
@import "../css/Roboto/Thin-Italic.css";
@import "../css/Roboto/Light.css";
@import "../css/Roboto/Light-Italic.css";
@import "../css/Roboto/Regular.css";
@import "../css/Roboto/Regular-Italic.css";
@import "../css/Roboto/Medium.css";
@import "../css/Roboto/Medium-Italic.css";
@import "../css/Roboto/Bold.css";
@import "../css/Roboto/Bold-Italic.css";
@import "../css/Roboto/Black.css";
@import "../css/Roboto/Black-Italic.css";

@import "../css/Roboto-Condensed/Light.css";
@import "../css/Roboto-Condensed/Light-Italic.css";
@import "../css/Roboto-Condensed/Regular.css";
@import "../css/Roboto-Condensed/Regular-Italic.css";
@import "../css/Roboto-Condensed/Bold.css";
@import "../css/Roboto-Condensed/Bold-Italic.css";

@import "../css/Roboto-Slab/Thin.css";
@import "../css/Roboto-Slab/Thin-Italic.css";
@import "../css/Roboto-Slab/Light.css";
@import "../css/Roboto-Slab/Light-Italic.css";
@import "../css/Roboto-Slab/Regular.css";
@import "../css/Roboto-Slab/Regular-Italic.css";
@import "../css/Roboto-Slab/Bold.css";
@import "../css/Roboto-Slab/Bold-Italic.css";

@import "../css/Roboto-Mono/Thin.css";
@import "../css/Roboto-Mono/Thin-Italic.css";
@import "../css/Roboto-Mono/Light.css";
@import "../css/Roboto-Mono/Light-Italic.css";
@import "../css/Roboto-Mono/Regular.css";
@import "../css/Roboto-Mono/Regular-Italic.css";
@import "../css/Roboto-Mono/Medium.css";
@import "../css/Roboto-Mono/Medium-Italic.css";
@import "../css/Roboto-Mono/Bold.css";
@import "../css/Roboto-Mono/Bold-Italic.css";

/*
body
{
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
    font-family: 'Roboto', sans-serif;
}
*/
/*
$name: 'Roboto';
$font-files: font-files("Roboto/Roboto-Regular/Roboto-Regular.woff2",
                        "Roboto/Roboto-Regular/Roboto-Regular.woff");
$eot: false;
$weight: 400;
$style: "normal";
@include font-face($name, $font-files, $eot, $weight, $style);
*/
