@font-face {
  font-family: 'Roboto';
  src: url("./../../fonts/Roboto/Roboto-BlackItalic/Roboto-BlackItalic.woff2") format("woff2"), url("./../../fonts/Roboto/Roboto-BlackItalic/Roboto-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
