@font-face {
  font-family: 'Roboto';
  src: url("./../../fonts/Roboto/Bold-Italic/Bold-Italic.woff2") format("woff2"), url("./../../fonts/Roboto/Bold-Italic/Bold-Italic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
