@font-face {
  font-family: 'Roboto';
  src: url("./../../fonts/Roboto/Roboto-BoldItalic/Roboto-BoldItalic.woff2") format("woff2"), url("./../../fonts/Roboto/Roboto-BoldItalic/Roboto-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
