@font-face {
  font-family: 'Roboto';
  src: url("./../../fonts/Roboto/Roboto-MediumItalic/Roboto-MediumItalic.woff2") format("woff2"), url("./../../fonts/Roboto/Roboto-MediumItalic/Roboto-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
