@font-face {
  font-family: 'Roboto';
  src: url("./../../fonts/Roboto/Roboto-MediumItalic/Roboto-MediumItalic.eot");
  src: url("./../../fonts/Roboto/Roboto-MediumItalic/Roboto-MediumItalic.woff2") format("woff2"), url("./../../fonts/Roboto/Roboto-MediumItalic/Roboto-MediumItalic.woff") format("woff"), url("./../../fonts/Roboto/Roboto-Mediumitalic/Roboto-MediumItalic.ttf") format("truetype"), url("./../../fonts/Roboto/Roboto-MediumItalic/Roboto-MediumItalic.svg#Roboto-MediumItalic") format("svg"), url("./../../fonts/Roboto/Roboto-MediumItalic/Roboto-MediumItalic.eot?#iefix") format("embedded-opentype");
  font-weight: 500;
  font-style: italic;
}
