@font-face {
  font-family: 'Roboto';
  src: url("./../../fonts/Roboto/Roboto-ThinItalic/Roboto-ThinItalic.woff2") format("woff2"), url("./../../fonts/Roboto/Roboto-ThinItalic/Roboto-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}
