@font-face
{
    font-family: 'Roboto';
    src: url('Roboto-MediumItalic.woff2') format('woff2'),
         url('Roboto-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}
