@font-face
{
    font-family: 'Roboto Mono';
    src: url('RobotoMono-Italic.woff2') format('woff2'),
         url('RobotoMono-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
