@font-face {
  font-family: 'Roboto';
  src: url('./../../fonts/Roboto/Bold/Bold.eot');
  src: url('./../../fonts/Roboto/Bold/Bold.woff2') format('woff2'),
       url('./../../fonts/Roboto/Bold/Bold.woff') format('woff'),
       url('./../../fonts/Roboto/Bold/Bold.ttf') format('truetype'),
       url('./../../fonts/Roboto/Bold/Bold.svg#Roboto-Bold') format('svg'),
       url('./../../fonts/Roboto/Bold/Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}
