@font-face
{
    font-family: 'Roboto';
    src: url('./../../fonts/Roboto/Roboto-LightItalic/Roboto-LightItalic.eot');
    src: url('./../../fonts/Roboto/Roboto-LightItalic/Roboto-LightItalic.woff2') format('woff2'),
         url('./../../fonts/Roboto/Roboto-LightItalic/Roboto-LightItalic.woff') format('woff'),
         url('./../../fonts/Roboto/Roboto-LightItalic/Roboto-LightItalic.ttf') format('truetype'),
         url('./../../fonts/Roboto/Roboto-LightItalic/Roboto-LightItalic.svg#Roboto-LightItalic') format('svg'),
         url('./../../fonts/Roboto/Roboto-LightItalic/Roboto-LightItalic.eot?#iefix') format('embedded-opentype');
    font-weight: 300;
    font-style: italic;
}
