@font-face
{
    font-family: 'Roboto';
    src: url('./../../fonts/Roboto/Roboto-ThinItalic/Roboto-ThinItalic.eot');
    src: url('./../../fonts/Roboto/Roboto-ThinItalic/Roboto-ThinItalic.woff2') format('woff2'),
         url('./../../fonts/Roboto/Roboto-YhinItalic/Roboto-ThinItalic.woff') format('woff'),
         url('./../../fonts/Roboto/Roboto-ThinItalic/Roboto-ThinItalic.ttf') format('truetype'),
         url('./../../fonts/Roboto/Roboto-ThinItalic/Roboto-ThinItalic.svg#Roboto-ThinItalic') format('svg'),
         url('./../../fonts/Roboto/Roboto-ThinItalic/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype');
    font-weight: 100;
    font-style: italic;
}
