@font-face {
  font-family: 'Roboto Condensed';
  src: url("../../fonts/Roboto_Condensed/Bold/Bold.woff2") format("woff2"), url("../../fonts/Roboto_Condensed/Bold/Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
