@font-face {
  font-family: 'Roboto Condensed';
  src: url("RobotoCondensed-LightItalic.eot");
  src: url("RobotoCondensed-LightItalic.woff2") format("woff2"), url("RobotoCondensed-LightItalic.woff") format("woff"), url("RobotoCondensed-LightItalic.ttf") format("truetype"), url("RobotoCondensed-LightItalic.svg#RobotoCondensed-LightItalic") format("svg"), url("RobotoCondensed-LightItalic.eot?#iefix") format("embedded-opentype");
  font-weight: 300;
  font-style: italic;
}
