@font-face {
  font-family: 'Roboto Condensed';
  src: url("RobotoCondensed-Italic.eot");
  src: url("RobotoCondensed-Italic.woff2") format("woff2"), url("RobotoCondensed-Italic.woff") format("woff"), url("RobotoCondensed-Italic.ttf") format("truetype"), url("RobotoCondensed-Italic.svg#RobotoCondensed-Italic") format("svg"), url("RobotoCondensed-Italic.eot?#iefix") format("embedded-opentype");
  font-weight: 400;
  font-style: italic;
}
