@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-Italic.woff2') format('woff2'),
         url('RobotoCondensed-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
