@font-face {
  font-family: 'Roboto Slab';
  src: url("RobotoSlab-Bold.eot");
  src: url("RobotoSlab-Bold.woff2") format("woff2"), url("RobotoSlab-Bold.woff") format("woff"), url("RobotoSlab-Bold.ttf") format("truetype"), url("RobotoSlab-Bold.svg#RobotoSlab-Bold") format("svg"), url("RobotoSlab-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: 700;
  font-style: normal;
}
