@font-face
{
    font-family: 'Roboto Mono';
    src: url('../../fonts/Roboto_Mono/Regular-Italic/Regular-Italic.eot');
    src: url('../../fonts/Roboto_Mono/Regular-Italic/Regular-Italic.woff2') format('woff2'),
         url('../../fonts/Roboto_Mono/Regular-Italic/Regular-Italic.woff') format('woff'),
         url('../../fonts/Roboto_Mono/Regular-Italic/Regular-Italic.ttf') format('truetype'),
         url('../../fonts/Roboto_Mono/Regular-Italic/Regular-Italic.svg#RobotoMono-Italic') format('svg'),
         url('../../fonts/Roboto_Mono/Regular-Italic/Regular-Italic.eot?#iefix') format('embedded-opentype');
    font-weight: 400;
    font-style: italic;
}
