@font-face {
  font-family: 'Roboto Mono';
  src: url("../../fonts/Roboto_Mono/Bold-Italic/Bold-Italic.woff2") format("woff2"), url("../../fonts/Roboto_Mono/Bold-Italic/Bold-Italic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
