@font-face {
  font-family: 'Roboto Mono';
  src: url("../../fonts/Roboto_Mono/Medium-Italic/Medium-Italic.eot");
  src: url("../../fonts/Roboto_Mono/Medium-Italic/Medium-Italic.woff2") format("woff2"), url("../../fonts/Roboto_Mono/Medium-Italic/Medium-Italic.woff") format("woff"), url("../../fonts/Roboto_Mono/Medium-Italic/Medium-Italic.ttf") format("truetype"), url("../../fonts/Roboto_Mono/Medium-Italic/Medium-Italic.svg#RobotoMono-MediumItalic") format("svg"), url("../../fonts/Roboto_Mono/Medium-Italic/Medium-Italic.eot?#iefix") format("embedded-opentype");
  font-weight: 500;
  font-style: italic;
}
