@font-face {
  font-family: 'Roboto Mono';
  src: url("../../fonts/Roboto_Mono/Medium/Medium.woff2") format("woff2"), url("../../fonts/Roboto_Mono/Medium/Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
