@font-face {
  font-family: 'Roboto Mono';
  src: url("RobotoMono-MediumItalic.woff2") format("woff2"), url("RobotoMono-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
