@font-face {
  font-family: 'Roboto Mono';
  src: url("../../fonts/Roboto_Mono/Regular/Regular.eot");
  src: url("../../fonts/Roboto_Mono/Regular/Regular.woff2") format("woff2"), url("../../fonts/Roboto_Mono/Regular/Regular.woff") format("woff"), url("../../fonts/Roboto_Mono/Regular/Regular.ttf") format("truetype"), url("../../fonts/Roboto_Mono/Regular/Regular.svg#RobotoMono-Regular") format("svg"), url("../../fonts/Roboto_Mono/Regular/Regular.eot?#iefix") format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
}
