@font-face {
  font-family: 'Roboto Mono';
  src: url("RobotoMono-Italic.eot");
  src: url("RobotoMono-Italic.woff2") format("woff2"), url("RobotoMono-Italic.woff") format("woff"), url("RobotoMono-Italic.ttf") format("truetype"), url("RobotoMono-Italic.svg#RobotoMono-Italic") format("svg"), url("RobotoMono-Italic.eot?#iefix") format("embedded-opentype");
  font-weight: 400;
  font-style: italic;
}
