@font-face {
  font-family: 'Roboto Mono';
  src: url("../../fonts/Roboto_Mono/Thin-Italic/Thin-Italic.eot");
  src: url("../../fonts/Roboto_Mono/Thin-Italic/Thin-Italic.woff2") format("woff2"), url("../../fonts/Roboto_Mono/Thin-Italic/Thin-Italic.woff") format("woff"), url("../../fonts/Roboto_Mono/Thin-Italic/Thin-Italic.ttf") format("truetype"), url("../../fonts/Roboto_Mono/Thin-Italic/Thin-Italic.svg#RobotoMono-ThinItalic") format("svg"), url("../../fonts/Roboto_Mono/Thin-Italic/Thin-Italic.eot?#iefix") format("embedded-opentype");
  font-weight: 100;
  font-style: italic;
}
