@font-face {
  font-family: 'Roboto Mono';
  src: url("RobotoMono-ThinItalic.eot");
  src: url("RobotoMono-ThinItalic.woff2") format("woff2"), url("RobotoMono-ThinItalic.woff") format("woff"), url("RobotoMono-ThinItalic.ttf") format("truetype"), url("RobotoMono-ThinItalic.svg#RobotoMono-ThinItalic") format("svg"), url("RobotoMono-ThinItalic.eot?#iefix") format("embedded-opentype");
  font-weight: 100;
  font-style: italic;
}
