@font-face {
	font-family: "RobotoSlab-Regular";
	src: url("./fonts/RobotoSlab-Regular.eot"); /* IE9 Compat Modes */
	src: url("./fonts/RobotoSlab-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("./fonts/RobotoSlab-Regular.otf") format("opentype"), /* Open Type Font */
		url("./fonts/RobotoSlab-Regular.svg") format("svg"), /* Legacy iOS */
		url("./fonts/RobotoSlab-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
		url("./fonts/RobotoSlab-Regular.woff") format("woff"), /* Modern Browsers */
		url("./fonts/RobotoSlab-Regular.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "RobotoSlab-Bold";
	src: url("./fonts/RobotoSlab-Bold.eot"); /* IE9 Compat Modes */
	src: url("./fonts/RobotoSlab-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("./fonts/RobotoSlab-Bold.otf") format("opentype"), /* Open Type Font */
		url("./fonts/RobotoSlab-Bold.svg") format("svg"), /* Legacy iOS */
		url("./fonts/RobotoSlab-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
		url("./fonts/RobotoSlab-Bold.woff") format("woff"), /* Modern Browsers */
		url("./fonts/RobotoSlab-Bold.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "RobotoSlab-Light";
	src: url("./fonts/RobotoSlab-Light.eot"); /* IE9 Compat Modes */
	src: url("./fonts/RobotoSlab-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("./fonts/RobotoSlab-Light.otf") format("opentype"), /* Open Type Font */
		url("./fonts/RobotoSlab-Light.svg") format("svg"), /* Legacy iOS */
		url("./fonts/RobotoSlab-Light.ttf") format("truetype"), /* Safari, Android, iOS */
		url("./fonts/RobotoSlab-Light.woff") format("woff"), /* Modern Browsers */
		url("./fonts/RobotoSlab-Light.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "RobotoSlab-Thin";
	src: url("./RobotoSlab-Thin.eot"); /* IE9 Compat Modes */
	src: url("./RobotoSlab-Thin.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("./RobotoSlab-Thin.otf") format("opentype"), /* Open Type Font */
		url("./RobotoSlab-Thin.svg") format("svg"), /* Legacy iOS */
		url("./RobotoSlab-Thin.ttf") format("truetype"), /* Safari, Android, iOS */
		url("./RobotoSlab-Thin.woff") format("woff"), /* Modern Browsers */
		url("./RobotoSlab-Thin.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}